<div class="ui large menu">
  <div class="ui container">
    <%= link_to "Chatroom", root_path, class: "item teal" %>    
    <a class="item teal">
      Messages
    </a>
    <div class="right menu">
      <% if logged_in? %>
        <div class="ui dropdown item teal" id="nav-dropdown">
          <%= current_user.username %> <i class="dropdown icon"></i>
          <div class="menu">
            <%= link_to "My account", root_path, class: "item teal" %>
            <%= link_to "Logout", logout_path, method: :delete, class: "item teal" %>
          </div>
        </div>
      <% else %>
      <div class="item" id="nav-item">
        <%= link_to "Log in", login_path, class: "ui primary button nav-button" %>
      </div>
      <% end %>
    </div>
  </div>
</div>